@model Nhom8_IMUA.Models.LoaiSP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <p>Bạn có chắc chắn muốn xóa loại sản phẩm này không?</p>
        <br />
        <input type="submit" value="Xóa" class="btn btn-outline-warning btn-fw" />
        <button class="btn btn-inverse-dark btn-fw" onclick="location.href='@Url.Action("Index", "LoaiSPs")';return false;">Hủy</button>
    </div>
}

