@model List<Nhom8_IMUA.Models.SanPham>

<div class="container">
    <div class="buoc">
        <a href="#">Trang chủ</a>
        <span>Giỏ hàng</span>
    </div>
    <p>Giỏ hàng có: <b>1 sản phẩm</b></p>
    <p>Tổng tiền: <b style="color: Red">220.000 đ</b></p>
    <table cellspacing="4" cellpadding="4" rules="all" border="1" class="tableCart" style="background-color: white">
        <tbody>
            <tr>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#"><img src="~/assets/img/@item.AnhDaiDien" width="100px" height="150px" alt="Hình ảnh sản phẩm" class="img"></a></td>
                    <td>
                        <a href="#" class="cart">@item.TenSP</a>
                        <div class="price">
                            <span>@string.Format("{0:c0}",item.GiaCu)</span>
                            <del>@string.Format("{0:c0}", item.GiaMoi)</del>
                        </div>
                    </td>
                    <td><input type="text" id="sanpham" value="1" maxlength="3"></td>
                    <td>
                        <b>@string.Format("{0:c0}", item.GiaCu)</b>
                        <br />
                        <a href="#">Xóa</a>
                    </td>
                </tr>
            }
            </tbody>
    </table>
    <div class="cartTong">
        Tạm tính: <b>220.000 đ</b>
    </div>
    <div class="cartTong">
        Phí vận chuyển: <b>0 đ</b>
    </div>
    <div class="cartTong">
        Tổng tiền thanh toán: <b>220.000 đ</b>
    </div>
    <div class="form-order">
        <h1 class="form-order-tt">
            <i class="fa fa-play"></i>Thông tin địa chỉ nhận hàng
        </h1>
        <form class="form-content" id="formQuickOrder">
            <div class="form-div">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="text" class="form-control" id="txtFullName" placeholder="Họ tên (*)">
                </div>
            </div>
            <div class="form-div">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <input type="text" class="form-control" id="txtPhone" placeholder="Số điện thoại (*)">
                </div>
            </div>
            <div class="form-div">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                    </div>
                    <input type="text" class="form-control" id="txtAddress" placeholder="Địa chỉ (*)">
                </div>
            </div>
            <div class="form-div">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <input type="text" class="form-control" id="txtEmail" placeholder="Email để liên hệ">
                </div>
            </div>
            <div class="form-div">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-comment-o"></i>
                    </div>
                    <textarea rows="3" class="form-control" id="txtNote" placeholder="Ghi chú đơn hàng"></textarea>
                </div>
            </div>
            <div class="form-div">
                <a href="" class="btn" id="btnSend"><h2 class="btnSubmit">Hoàn tất đơn hàng</h2></a>
            </div>
            <div>
                <input id="ct101" type="checkbox" name="ctl01">
                <label for="ct101">Tôi đồng ý với các chính sách và quy định mua hàng tại website</label>
                <br />
                <div style="margin-top: 10px">
                    <span disabled="disabled" style="color:Red;">
                        <input id="ctl02" type="checkbox" name="ctl02" checked="checked" disabled="disabled">
                        <label for="ctl02">Phương thức thanh toán: NHẬN HÀNG VÀ THANH TOÁN TẠI NHÀ !</label>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

