@model PagedList.IPagedList<Nhom8_IMUA.Models.TinTuc>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="widget" style="padding-top: 2rem;">
    <div class="container">
        <div class="widget__nav">
            <h4>Danh mục sản phẩm</h4>
            <ul class="widget__menu">
                <li class="widget__item">
                    <a href="" class="widget__link">
                        mỹ phẩm trang điểm
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="widget__item">
                    <a href="" class="widget__link">
                        hỗ trợ điều trị
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="widget__item">
                    <a href="" class="widget__link">
                        chăm sóc da mặt
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="widget__item">
                    <a href="" class="widget__link">
                        chăm sóc toàn thân
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="widget__item">
                    <a href="" class="widget__link">
                        mỹ phẩm chăm sóc tóc
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="widget__item">
                    <a href="" class="widget__link">
                        thương hiệu ưa chuộng
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="widget__item">
                    <a href="" class="widget__link">
                        sức khỏe dinh dưỡng
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="widget__item">
                    <a href="" class="widget__link">
                        các sản phẩm khác
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="widget__content">
            <div class="widget__category">
                <div class="title">
                    <span><i class="fas fa-th"></i></span>
                    <h4>Tin nổi bật</h4>
                </div>
                <div class="wrapper" style="position: relative;">
                    <div class="news__box">
                        <ul class="news__menu">
                            @foreach (var item in Model)
                            {
                                <li class="news__item">
                                    <img src="~/assets/Images/TinTuc/@item.AnhTinTuc" alt="">
                                    <div class="news__content">
                                        <a href="@Url.Action("NewsDetail", "Home", new { id = item.MaTinTuc })" class="news__link">@item.TieuDe</a>
                                        <p>@item.TomTat</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="phan-trang">@Html.PagedListPager(Model, page => Url.Action("ListNews", new { page }))</div>
                </div>
            </div>
        </div>
    </div>


