
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="center-content">
        <a href="#">
            <img src="~/assets/img/icon_LargeShoppingCart.png" alt="Đặt hàng thành công">
            <h1>Đặt hàng thành công !</h1>
            <h4 style="font-size: 18px;">Cám ơn Bạn đã đặt hàng !</h4>
        </a>
    </div>
</div>
